<p id="notice"><%= notice %></p>

<h1><%= @initiative.title %></h1>

<div class="share">
  <h2>Difunde</h2>
  <div class="twitter">
    Twitea esta iniciativa
  </div>
  <div class="facebook">
    Comparte esta iniciativa
  </div>
</div>

<div class="initiative-image">
  <%= image_tag @initiative.image, alt: 'Imagen de iniciativa' %>
</div>

<div class="initiative-description">
  <%= @initiative.description %>
</div>

<div class="sign-initiative">
  <h2>Firma de apoyo</h2>
  Firmar...
</div>

<div class="write-representatives">
  Escríbele a tus representantes
</div>
