<h1>Bienvenidos a <strong>wican</strong></h1>
<p>
  Ofrecemos una plataforma gratuita para que <strong>ONGs</strong> puedan
  difundir sus iniciativas y llamar a los ciudadanos a la acción.
</p>
<div class="logo-big">
  <%= image_tag 'logo_only.png', alt: 'wican' %>
</div>
<p>
  Muchas <%= link_to 'ONGs', ongs_path %> ya están usando <strong>wican</strong>.
  Te invitamos a <%= link_to 'verlas todas', ongs_path %>
</p>
