<h1><%= @ong.name %></h1>
<p><%= @ong.description %></p>
<h2>Algunas de nuestras iniciativas</h2>
<ul>
  <% @ong.some_initiatives.each do |initiative| %>
    <li><%= link_to initiative.title, [@ong, initiative] %></li>
  <% end %>
</ul>

<% if @other_petitions %>
  <h2>Iniciativas en Change.org</h2>
  <ul>
    <% @other_petitions.each do |petition| %>
      <li><%= link_to petition['title'], petition['url'] %></li>
    <% end %>
  </ul>
<% end %>
