html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  padding-top: 120px;
}

main {
  margin: 0 15px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  border-bottom: 1px solid #aaa;
  box-shadow: 0px 0px 5px 1px #777;
  z-index: 2;
}

#logo img {
  height: 70px;
}

nav#main-menu, #logo {
  display: inline-block;
  vertical-align: middle;
}

nav#main-menu {
  margin-left: 10px;
  a {
    display: inline-block;
    position: relative;
    padding: 20px;
    text-decoration: none;
    color: #555;
    font-size: 18px;
    transition: all 0.4s;
    &::after {
      position: absolute;
      top: 0;
      right: -3px;
      content: "";
      display: block;
      width: 0;
      height: 100%;
      border-right: 1px solid #aaa;
    }
    &:nth-child(5n+1) {
      color: #47737D;
      &:hover {
        background: lighten(#47737D, 50%);
      }
    }
    &:nth-child(5n+2) {
      color: #FEC733;
      &:hover {
        background: lighten(#FEC733, 35%);
      }
    }
    &:nth-child(5n+3) {
      color: #40A4A3;
      &:hover {
        background: lighten(#40A4A3, 50%);
      }
    }
    &:nth-child(5n+4) {
      color: #E87134;
      &:hover {
        background: lighten(#E87134, 50%);
      }
    }
    &:nth-child(5n+5) {
      color: #B3B22F;
      &:hover {
        background: lighten(#B3B22F, 50%);
      }
    }
    &:last-child::after {
      display: none;
    }
  }
}

#user-bar {
  font-size: 12px;
  color: #E87134;
  position: absolute;
  top: 0px;
  right: 30px;
  border: 1px solid #aaa;
  border-top: none;
  padding: 15px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  background: #FFFBED;
}
