// Place all the styles related to the ongs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ongs-list {
  padding: 0;
  &::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
  img {
    width: 100%;
  }
  a {
    display: block;
    border: 1px solid #aaa;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 0px #555;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    transition: all 0.4s;
    &:hover {
      transform: scale(1.03);
    }
    span {
      color: #333;
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
  li {
    list-style: none;
    width: 180px;
    height: 200px;
    float: left;
    padding: 10px;
  }
}
